<div class="row" style="margin: 10px 0 0 0">
  <header class="text-center">
    <h3>Languages</h3>
  </header>
  <hr>
  <div class="align-items-center justify-content-center d-flex flex-column text-black" style="padding: 0 200px; margin: 200px 0">
    <div class="col-sm-5" style="width: 50%">
        <div class="row">
          <div class="col-sm"><b>Language</b></div>
          <div class="col-sm"><b>Level</b></div>
        </div>
        <div class="row" *ngFor="let dati of entries">
          <div class="col-sm">{{ dati.val.language}}</div>
          <div class="col-sm">{{ dati.val.level}}</div>
        </div>
    </div>
    <div>
      <h5>Report</h5>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolor doloremque iusto magnam quis voluptate?
        Accusamus accusantium cum, dolores, ducimus expedita explicabo hic iure nihil pariatur perspiciatis ratione
        repudiandae sunt vel?</p>
    </div>
  </div>
</div>
