.bordino{
  padding: 4px;
  margin: 0 0;
  border: 2px solid darkslategray;
}

.sfondo{
  background-color: dimgray;
}

.margine{
  margin: 20px 20px 0px 0px;
}

.margineTable{
  margin: 200px 20px 0px 20px;
}

.immagine{
  height: 270px;
  width: 270px;
}

.magineColonna{
  margin: 200px 0px 0px -900px;
}

.margineFoto{
  margin: 0px 20px 0px 20px;
}

.posizione{
  position: relative;
  top: 150px;
}
