<div class="row" style="margin: 10px 0 0 0">
    <header class="text-center">
      <h3>License</h3>
    </header>
    <hr>
  <table class="table table-striped align-items-center justify-content-center d-flex min-vh-100">
    <thead>
    </thead>
    <tbody>
    <tr *ngFor="let dati of entries">
      <th>{{ dati.key }}</th>
      <td>{{dati.val}}</td>
    </tr>
    </tbody>
  </table>
    <div class="row margine">
      <h5>Placeholder</h5>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolor doloremque iusto magnam quis voluptate? Accusamus accusantium cum, dolores, ducimus expedita explicabo hic iure nihil pariatur perspiciatis ratione repudiandae sunt vel?</p>
    </div>
  </div>
