<div class="row" style="margin: 10px 0 0 0">
  <header class="text-center">
    <h3>Menu</h3>
  </header>
  <hr>
  <main class="min-vh-100 d-flex justify-content-center align-items-center">
    <div class="text-center">
        <h3 class="text-center">Hi, my  name is Alessandro Vitari</h3>
      <br>
      <div class="text-center">
        <button type="button" class="btn">
          <a href="https://www.instagram.com/" target="_blank"><i class="bi bi-instagram"></i></a>
        </button>
        <button type="button" class="btn">
          <a href="https://it-it.facebook.com/" target="_blank"><i class="bi bi-facebook"></i></a>
        </button>
        <button type="button" class="btn">
          <a href="https://www.whatsapp.com/" target="_blank"><i class="bi bi-whatsapp"></i></a>
        </button>
      </div>
    </div>
  </main>
</div>
