.immagine{
  height: 270px;
  width: 270px;
}
#picone{
  margin: 10px 20px 10px 0;
}

.bordino{
  padding: 4px;
  margin: 0 0;
  border: 2px solid darkslategray;
}

.attaccato{
  padding: 0;
}

.sfondo{
  background-color: dimgray;
}

.posizione{
  position: relative;
  top: 150px;
}

.margine{
  margin: 0px 20px 0px 20px;
}

.margineFooter{
  margin: 0px 0px 40px 0px;
}
