<div class="row" style="margin: 10px 0 0 0">
  <header class="text-center">
    <h3>Skills</h3>
  </header>
  <hr>
  <div class="align-items-center justify-content-center d-flex flex-column" style="padding: 0 200px; margin: 200px 0">
    <div style="width: 50%">
      <table class="table table-striped">
        <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Skill</th>
          <th scope="col">Level</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let dati of entries; let i= index">
          <th scope="row">{{ i + 1 }}</th>
          <td>{{ dati.val.name}}</td>
          <td>
            <progress max="5" value="{{dati.val.power}}"></progress>
          </td>
        </tr>
        </tbody>
      </table>
    </div>
    <div>
      <h5>Report</h5>
      <p>Good experience in: Responsive Web Design, Graceful Degradation, Cross-browser compatibility, semantic
        HTML, Database Design, SEO, URL Rewriting, Single-page Applications (SPA), Agile methodologies.
        Excellent use of Adobe Creative Suite (Photo/Video/Audio Editing).
      </p>
      <p>
        Preferred OS: Linux
      </p>
    </div>
  </div>
</div>
