<div class="row" style="margin: 10px 0 0 0">
  <header class="text-center">
    <h3>Skills</h3>
  </header>
  <hr>
  <div class="col-sm text-black" style="padding: 0 200px">
    <div class="row">
        <collapse></collapse>
    </div>
  </div>
    <div style="margin: 25px">
      <h5>Report</h5>
      <p>Good experience in: Responsive Web Design, Graceful Degradation, Cross-browser compatibility, semantic
        HTML, Database Design, SEO, URL Rewriting, Single-page Applications (SPA), Agile methodologies.
        Excellent use of Adobe Creative Suite (Photo/Video/Audio Editing).
      </p>
      <p>
        Preferred OS: Linux
      </p>
    </div>
</div>
