<div class="row" style="margin: 10px 0 0 0">
  <header class="text-center">
    <h3>Informations</h3>
  </header>
  <hr>
  <div class="col-sm-6">
    <div class="text-black row" *ngFor="let dati of entries">
      <div class="col-sm-3" style="font-size: 14pt"><b>{{ dati.key }}</b></div>
      <div class="col-sm-1"> : </div>
      <div class="col-sm">{{ dati.val }}</div>
      <br>
    </div>
  </div>
  <div style="margin: 20px 0px 0px 0px">
    <h5>Report</h5>
    <p>I’m a computer engineer enthusiast about Front-End technologies for more than two decades. I started
      developing websites in 1999 and I have a strong knowledge of the main programming languages. I deal with
      web development in all its aspects: database design, creation of responsive interfaces, web app, single-page
      applications, REST api, administration panels, performance optimization. I like to keep abreast of the latest
      technologies that relate to the web. I am very proactive with a great aptitude for problem solving.</p>
  </div>
</div>
