<div class="row" style="margin: 10px 0 0 0">
  <header class="text-center">
    <h3>Informations</h3>
  </header>
  <hr>
  <div class="row">
    <div class="col-sm-2 text-black">
      <div class="" style="font-size: 14pt"><b>Name</b></div>
      <div class="" style="font-size: 14pt"><b>Surname</b></div>
      <div class="" style="font-size: 14pt"><b>Cellphone</b></div>
      <div class="" style="font-size: 14pt"><b>Email</b></div>
      <div class="" style="font-size: 14pt"><b>Birthdate</b></div>
      <div class="" style="font-size: 14pt"><b>Birth place</b></div>
      <div class="" style="font-size: 14pt"><b>Residence</b></div>
      <div class="" style="font-size: 14pt"><b>Marital status</b></div>
    </div>
    <div class="col">
      <div class="text-black" *ngFor="let dati of entries">
        <div style="font-size: 14pt">{{ dati.val }}</div>
      </div>
    </div>
  </div>
  <div style="margin: 20px 0px 0px 0px">
    <h5>Profile</h5>
    <p>I’m a computer engineer enthusiast about Front-End technologies for more than two decades. I started
      developing websites in 1999 and I have a strong knowledge of the main programming languages. I deal with
      web development in all its aspects: database design, creation of responsive interfaces, web app, single-page
      applications, REST api, administration panels, performance optimization. I like to keep abreast of the latest
      technologies that relate to the web. I am very proactive with a great aptitude for problem solving.</p>
  </div>
</div>
