.bordino{
  padding: 4px;
  margin: 0 0;
  border: 2px solid darkslategray;
}

.sfondo{
  background-color: dimgray;
}

.margine{
  margin: 20px 40px 0px 25px;
}

.margineColonna{
  margin: 200px 20px 0px 20px;
}

.posizione{
  position: relative;
  top: 150px;
}

.immagine{
  height: 270px;
  width: 270px;
}
