<div class="row">
  <header class="text-center">
    <h3>Experiences</h3>
  </header>
  <hr>
  <div class="align-items-center justify-content-center d-flex min-vh-100" style="padding: 0 200px">
    <table class="table table-striped">
      <tbody>
      <tr *ngFor="let dati of entries">
        <th>{{ dati.key }}</th>
        <td>{{ dati.val }}</td>
      </tr>
      </tbody>
    </table>
    <h5>Placeholder</h5>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolor doloremque iusto magnam quis voluptate?
      Accusamus accusantium cum, dolores, ducimus expedita explicabo hic iure nihil pariatur perspiciatis ratione
      repudiandae sunt vel?</p>
  </div>
</div>
