<div class="row" style="margin: 10px 0 0 0">
  <header class="text-center">
    <h3>Experiences</h3>
  </header>
  <hr>
  <div class="align-items-center justify-content-center d-flex flex-column" style="padding: 0 200px; margin: 200px 0">
    <div style="width: 100%">
      <table class="table table-striped">
        <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Start date</th>
          <th scope="col">End date</th>
          <th scope="col">Position</th>
          <th scope="col">Agency</th>
          <th scope="col">Address</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let dati of entries;">
          <th scope="row">{{dati.key + 1}}</th>
          <td>{{ dati.val.startDate }}</td>
          <td>{{ dati.val.endDate }}</td>
          <td>{{ dati.val.position }}</td>
          <td>{{ dati.val.agency }}</td>
          <td>{{ dati.val.address }}</td>
        </tr>
        </tbody>
      </table>
    </div>
    <div>
      <h5>Report</h5>
      <p>Leading development teams, be an active part of the process of creating multi-functional web platforms and
        applications using bleeding edge technologies. Interact with stakeholders to understand their real needs.
        Follow the development process, risks, weaknesses, assessment and feedback in order to obtain an
        excellent quality product on schedule.</p>
    </div>
  </div>
</div>
